.nav-drop {
    display: none;
    position: fixed; 
    top: 5vh;
    z-index: 5;
    width: 100%;
    padding: 0px;
    background-color: rgba(0, 1, 32, 0.95);
    height: 95vh;
}
.nav-drop li {
    display: block;
    color: rgb(102, 252, 241);    
    font-size: 2em;
    height: 4vh;
    list-style: none;
    padding: 5vh 0px;
    width: 100%;
    
}

.nav-drop li a {
    color: rgb(102, 252, 241);
    text-decoration: none;
    width: 100%;
}

.icon-align-justify, .icon-camera-retro, .icon-mark-github, .icon-book{
    font-size: 5vh;
    color:rgb(102, 252, 241);
    transition-duration: 1s;
}


/*STYLING FOR THE MENU DROP DOWN*/
.background {
    background-color: rgb(0, 1, 32);
    transition-duration: 1s;
}
.rotate {
    transform: rotate(90deg);
    transition-duration: 1s;
}
.landing-image {
    background-image: url("../img/landing.jpg");
    background-repeat: no-repeat;
}


