.nav-one ul {
    float: clear;
}
.nav-one li {
    z-index: 0;
    display: none;
    color: rgb(102, 252, 241);

    padding: 2% 0px;
    font-size: 3vh;
    border-bottom: 2px solid white;
    width: 10%;
    height: 4vh;
    list-style: none;
}

.nav-one li a {
    color: rgb(102, 252, 241);
    text-decoration: none;
}

.icon-align-justify, .icon-camera-retro, .icon-mark-github, .icon-book{
    font-size: 5vh;
    color:rgb(102, 252, 241);
    transition-duration: 1s;
}
.rotate {
    transform: rotate(90deg);
    transition-duration: 1s;
}
.landing-image {
    background-image: url("../img/landing.jpg");
    background-repeat: no-repeat;
}
